html body {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .container {
    max-width: 100%;
    background-color: grey;
  }
  
  .jumbotron {
    margin-top: 1%;
    text-align: center;
    font-family: 'Satisfy', cursive;
  }
  
  #blurb {
    text-align: justify;
    font-size: 20px;
  }
  
  .invert {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  table {
    width: 100%;
  }
  
  #card-img td {
    top: 0;
    max-width: 230px;
    height: 100%
  }
  