<link rel="stylesheet" href="./styles.css" />

body {
        font-family: "Comic Sans MS";
        margin: 0;
      }
      
#banner {
        background-color: #00cc00;
        background-image: url("https://c.tenor.com/COljs_3NzNgAAAAC/420-421.gif://api.thecatapi.com/v1/images/search");
        background-position: center;
        background-size: cover;
        padding: 20vh 20px;
        text-align: center;
      }
      
.section {
        display: flex;
        padding: 50px;
      }
      
      .section p {
        flex: 1;
      }
      
      .section svg {
        border: 1px solid red;
        flex: 2;
        height: 300px;
        margin: 20px;
      }

      @media (max-width: 600px) {
        .section {
          flex-direction: column;
        }
        .section svg {
          flex: none;
        }
      }