body {
  margin: 0;
}

#banner {
  background-image: url(https://media.gettyimages.com/photos/cannabis-leaf-on-colored-background-picture-id1276624551?s=2048x2048);
  background-position: 50% 100%;
  background-size: cover;
  font-family: "Comic Sans MS";
  padding: 20vh 20px;
  text-align: center;
}

.section {
  align-items: center;
  display: flex;
  padding: 50px;
}

.section p {
  flex: ;
}

.section svg {
  border: 1px solid peachpuff;
  flex: 2;
  height: 300px;
  margin: 20px;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .section svg {
    flex: none;
    width: 100%;
  }
}

#tooltip {
  background: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  padding: 5px;
  position: absolute;
}

body {
  background-color: powderblue;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
  border:1px dotted lightseagreen;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap-reverse;
  justify-content:space-evenly;
  align-items:bottom;
  height:200px;

}

li {
  border:1px solid peachpuff;
  margin:0.5;
  padding:0.2;
}